*.pubxml.user
*.suo
*/bin/*
*/obj/*
.vs/*
Backup/*
Database backups/*
FinancesSharp/App_Data/FinancesSharp.Models.FinanceDb.mdf
FinancesSharp/App_Data/FinancesSharp.Models.FinanceDb_log.ldf
FinancesSharp/FinancesSharp.csproj.user
packages/*
Statements/*