@model FinancesSharp.Models.Card
@using FinancesSharp.Helpers

@{
    var name = "";
    if (Model.Person != null)
    {
        name = Model.Person.Name;
    }
}

<td>@Model.Number</td> 
<td> 
    <span class="fancy-box card-box" data-card-number="@Model.Number">
        <input type="text" class="value" value="@name" />
    </span>
</td> 