@model TransactionSortMode.SortColumn
@using FinancesSharp.ViewModels

<span class="sort-arrow" data-column="@Model" data-order="Ascending">▲</span>
<span class="sort-arrow" data-column="@Model" data-order="Descending">▼</span>