.search-form .part {
    display: inline-block;
    float: left;
    border: 1px solid rgb(180, 180, 180);
    height: 30px;
    margin: 0 20px 10px 0;
    border-radius: 2px;
    width: 350px;
}
.search-form .part.double-width {
    width: 722px
}
.search-form .label {
    display: inline-block;
    float: left;
    background-color: rgb(242, 235, 251);
    padding: 4px;
    width: 80px;
    text-align: center;
}
.search-form .field {
    display: inline-block;
    float: left;
    padding: 0px;
}
.search-form .element {
    display: inline-block;
    margin: 4px;
    width: 254px;
}
.search-form input, .search-form select {
    font-size: inherit;
    background-color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}
.search-form .datepicker input {
    width: 200px;
}
.search-form button {
    font-size: inherit;
    width: 350px;
}
.search-form .field .additional-options {
    float: right;
    display: block;
    height: 20px;
    font-size: 10pt;
    border-left: 1px solid rgb(180, 180, 180);
    margin: 0;
    padding: 5px;
}