@model FinancesSharp.Reports.TotalAmountByCategory
@using FinancesSharp.Helpers
@{ Html.RenderPartial("ByCategoryForm"); }
@{ Html.RenderPartial("UpOneLevelLink"); }
<div class="chart-summary">Grand total: £@Model.GrandTotal.ToString("N0")</div>
<div id="chart"></div>
<script>
    $(function() {
        var data = @Html.Raw(Model.Data.AsJavascriptList());
        new HorizontalBarChart(data, "#chart", function(drilldownId) {
            $("#@Html.IdFor(m => m.Category)").val(drilldownId);
            $("form").submit();
        });
    });
</script>