@model FinancesSharp.Models.Budget

@{
    ViewBag.Title = "Budget";
}

<script type="text/javascript">
    var budgetId = @Model.Id;

    function makeBudgetItem(item) {
        var element = $("#exemplars .budget-item")
            .clone();
        element.find(".name").text(item.Name);
        element.find(".amount").text("£" + item.BudgetedAmount);
        element.find(".categories").text(item.Categories.map(x => x.Name));
        element.find(".id").val(item.Id);
        var form = element.find("form");
        form.submit(function(e) {
            e.preventDefault();
            form.find(".errors").empty();
            $.post(form.attr("action"), form.serialize())
                .done(refreshBudget)
                .fail(function(jqXhr, textStatus, errorThrown) {
                    var message = textStatus;
                    if (jqXhr.responseJSON) {
                        message = jqXhr.responseJSON.join(". ");
                    }
                    form.find(".errors").text(message);
                });
        });
        return element;
    }

    function refreshBudget() {
        $.getJSON("/Budget/Get/" + budgetId,
            function(budget) {
                var container = $(".budget-items");
                container.empty();
                budget.Items.forEach(function(item) {
                    container.append(makeBudgetItem(item));
                });
            });
    }

    $(function() {
        refreshBudget();

        var form = $(".new-budget-item form");
        form.submit(function(e) {
            e.preventDefault();
            form.find(".errors").empty();
            $.post(form.attr("action"), form.serialize())
                .done(refreshBudget)
                .fail(function(jqXHR, textStatus, errorThrown) {
                    var message = jqXHR.responseJSON.join(". ");
                    form.find(".errors").text(message);
                });
        });
    });
</script>

<div class="budget-items">
    <img src="@Url.Content("~/Content/spinner.gif")"/>
</div>
<div class="new-budget-item">
    <h2>Add a new budget item</h2>
    <form method="post" action="@Url.Action("CreateBudgetItem", new { Model.Id })">
        <input type="text" name="Name" placeholder="Name"/>
        <input type="number" 
               name="BudgetedAmount" 
               placeholder="Budgeted amount (£)"
               step="0.01" />
        <button type="submit">Add</button>
        <div class="errors">
            
        </div>
    </form>
</div>

<div id="exemplars" style="display: none">
    <div class="budget-item">
        <h2 class="name"></h2>
        <div class="amount"></div>
        <div>
            <span class="categories"></span>
            Add category: 
            <form method="post" action="@Url.Action("AddCategory", new {Model.Id})" style="display: inline-block;">
                <input class="id" type="hidden" name="ItemId" />
                <span class="category-box">
                    <input type="text" class="text" value="" />
                    <input type="hidden" class="value" name="CategoryId" 
                           onchange="$(this).closest('form').submit();" />
                    <input type="hidden" class="previous-text" value="" />
                </span>
                <div class="errors"></div>
            </form>
        </div>
    </div>
</div>